# Ignore configuration files
app/config/config.php

# Ignore other sensitive files
.env

# Ignore compiled files
*.log
*.tmp

# Ignore IDE/editor files
.vscode/
.idea/


# Ignore image files
public/assets/img/

# Ignore composer files
vendor/
