<div class="modal fade" id="add-reseller-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px">
		<div class="modal-content position-relative">
			<div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
				<button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body p-0">
				<div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
					<h4 class="mb-1" id="modalExampleDemoLabel">Προσθήκη reseller</h4>
				</div>
				<div class="p-4 pb-0">
					<div>
						<div class="mb-3">
							<label class="col-form-label" for="reseller-name"> ΟΝΟΜΑΤΕΠΩΝΥΜΟ:</label>
							<input class="form-control" id="reseller-name" type="text" />
						</div>
						<div class="mb-3">
							<label class="col-form-label" for="reseller-afm">ΑΦΜ:</label>
							<input class="form-control" id="reseller-afm" type="text" />
						</div>
						<div class="mb-3">
							<label class="col-form-label" for="reseller-email">Email:</label>
							<input class="form-control" id="reseller-email" type="text" />
						</div>
						<div class="mb-3">
							<label class="col-form-label" for="reseller-pass">Password:</label>
							<input class="form-control" id="reseller-pass" type="text" />
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Ακύρωση</button>

				<button class="btn btn-success" type="button" onclick="saveReseller()">Αποθήκευση</button>
			</div>
		</div>
	</div>
</div>

<script>
	function saveReseller() {
		var ar = {
			name: $("#reseller-name").val(),
			afm: $("#reseller-afm").val(),
			email: $("#reseller-email").val(),
			pass: $("#reseller-pass").val(),
		};
		$.ajax({
			type: "POST",
			url: apiUrl + "admin/resellers/store",
			data: JSON.stringify(ar),
			dataType: "json",
			success: function (result) {
				console.log(result);
				if ((result.message = "Reseller added successfully")) {
					Swal.fire({
						position: "center",
						icon: "success",
						title: "Καταχωρήθηκε με επιτυχία",
						showConfirmButton: false,
						timer: 1500,
					}).then((result) => {
						$("#add-reseller-modal").modal("hide");
						fetchResellers();
					});
				} else {
					Swal.fire({
						position: "center",
						icon: "error",
						title: "Παρουσιάστηκε σφάλμα",
						showConfirmButton: false,
						timer: 1500,
					}).then((result) => {
						$("#add-reseller-modal").modal("hide");
					});
				}
			},

			error: function (xhr) {
				alert("Request Status: " + xhr.status + " Status Text: " + xhr.statusText + " " + xhr.responseText);
			},
		});
	}
</script>
