<div class="row g-3 mb-3">
	<div class="card mb-3">
		<div class="card-header border-bottom">
			<div class="row flex-between-end">
				<div class="col-auto flex-lg-grow-1 flex-lg-basis-0 align-self-center">
					<h5 class="mb-0">Πελάτες με σύμβαση</h5>
				</div>
			</div>
		</div>
		<div class="card-body pt-0">
			<div class="tab-content">
				<div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-9e80409e-49e0-4986-9fcb-16b9838d0cff" id="dom-9e80409e-49e0-4986-9fcb-16b9838d0cff">
					<div class="table-responsive scrollbar">
						<table id="customersTable" class="table table-hover table-striped overflow-hidden">
							<thead>
								<tr>
									<th scope="col">ΑΦΜ</th>
									<!-- <th scope="col">ΟΝ/ΜΟ ΝΟΜΙΜΟΥ ΕΚΠΡΟΣΩΠΟΥ</th> -->
									<th scope="col">ΕΠΩΝΥΜΙΑ</th>
									<th scope="col">ΗΜ/ΝΙΑ</th>
									<th scope="col">ΚΑΤΑΣΤΑΣΗ</th>
								</tr>
							</thead>
							<tbody id="customersBody"></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{modals}}

<script>
	let apiUrl = "{{api_url}}";
</script>

{{scripts}}
